/* your css code */
.task {
  .card-header {
    align-items: center;
    min-height: 50px;
  }
  .description {
    margin: 20px 0;
  }
  .complete-task-btn {
    margin-left: auto;
  }
  .card-content {
    height: 100%;
  }
  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .add-subtask {
    align-self: start;
  }
  time {
    margin-top: auto;
  }
}
