/* your css code */
.card-header .field {
  margin-bottom: 0;
  margin-right: 20px;
}
.task {
  li {
    align-items: flex-start;
    button,
    input {
      margin-top: 4px;
    }
    .btns-wrap {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
