/* your css code */
.navbar {
  position: sticky;
  top: 0;
  .navbar-middle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-burger {
    span {
      background-color: var(--text-contrast);
    }
  }
  &-item.button {
    max-width: 100px;
  }
  &-item {
    color: var(--text-contrast);
  }
  &-item[disabled] {
    // color: var(--bg);
    color: #2f3640;
  }
  &-link {
    // color: var(--text-contrast);
    color: #2f3640;
  }
  &-link:not(.is-arrowless)::after {
    transition: transform 0.3s;
  }
  &-item.has-dropdown &-link {
    color: var(--text-contrast);
  }
  :is(&-item.has-dropdown:hover, &-item.has-dropdown.is-active) &-link {
    color: #2f3640;
  }
  &-item.has-dropdown.is-active &-link:not(.is-arrowless)::after {
    transform: rotate(135deg);
  }
  @media (min-width: 1020px) {
    .button.signin {
      margin-right: 10px;
    }
  }
  @media (max-width: 1020px) {
    button.navbar-item {
      color: purple;
    }
    &-menu {
      .navbar-end,
      .navbar-start {
        gap: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    }
    &-item {
      // color: var(--bg);
      color: #2f3640;
    }
    &-dropdown {
      a {
        font-size: 1rem;
        color: #4a4a4a;
        text-align: center;
        justify-content: center;
        margin-bottom: 1rem;
        margin-top: 0.35rem;
      }
      .navbar-divider + .is-flex {
        margin-top: 1rem;
        align-items: center;
        justify-content: center;
        .button {
          font-size: 1rem;
        }
      }
    }
    &-item &-link {
      display: none;
    }
  }
  
  .buttons-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}