/* your css code */
.wish {
  .card-content {
    .field {
      margin-bottom: 15px;
    }
  }
  ul {
    li {
      display: flex;
      gap: 5px;
      align-items: center;
      word-break: break-word;
      .field {
        margin: 0 !important;
      }
      .whitelist-text {
        cursor: pointer;
      }
    }
  }
}
